.call h3{
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5px;
    color: #7c1513;
    position: relative;
    font-size: 2vw;
    display: inline;
}
.call h3 span{
    position: absolute;
    right: 0;
    top: 45px;
    background-color: rgb(52, 52, 52);
    height: 4px;
    width: 100%;

}
.call h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5.1vw;
    line-height: 50px;
}
.call p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
    letter-spacing: 1.5px;
    line-height: 12px;
}
.navbar{
    background: url(menu_bg.gif);
    background-size: contain;
}
.navbar ul{
    font-size: 1.7vw;
    letter-spacing: 1px;
}
a:hover{
    background-color: grey;
}
.inform{
    background: url(form_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.inform h2{
    font-size: 2.3vw;
    background-color: #9b0b12;
}
.top{
    width: 23vw;
}
.top span{
    color: #113452;
    letter-spacing: 1px;
    font-size: 3vw;
}
.inform p{
    font-size: 1.4vw;
}
.info img{
    width: 18vw;
    transform: rotate(10deg);
}
textarea{
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
} 
.privacy button{
   background-color: #9d0707;
   color: white;
    border: none;
    font-size: 1.5vw;
}
.Top h2{
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Top h4{
    font-size: 1.4vw;
}
.Top h2 span{
    color: #7c1513;
    font-size: 2vw;
}
.Top p{
    font-size: 1.3vw;
}
.bottomimg{
    width: 18vw;
}
.button{
    background-color: #9d0707;
    border: none;
    font-size: 1.2vw;
    height: 28px;
}
.box{
    background-color:#838383;
}
.box .buttons{
    background-color:#838383;
    border: none;
}
.boxside{
    width: 5%;
    height: 80px;
}
.bottom1 h4{
    font-size: 2vw;
    font-weight: 700;
    color: #c5c5c5;
    letter-spacing: 1px;
}
.mid1 p{
    font-size: 1.5vw;
    letter-spacing: 1px;
    color: #888783;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 992px){
    .inform h2{
        font-size: 4vw;
    }
    .top{
        width: 50vw;
        font-size: 3.8vw;
    }
    .top span{
        font-size: 5vw;
    }
    .inform p{
        font-size: 2.8vw;
    }
    .info img{
        width: 30vw;
    }
    textarea{
        font-size: 3vw;
    }
    .privacy button{
        font-size: 3vw;
    }

}
